body {
    background-color: #4D5C57;
}


/* Title */

.section-title {
    background-image: url(/static/images/title.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    color: white;
    
}
.div-header {
    text-align: center;
}

#title-header {
    padding-top: 40px;
    /* font-size: 5rem; */
    line-height: 1.5;
}

#title-header b {
    font-size: 2.5rem;
}

 /* general background sections */
.colored-section {
    background-color: #DBD79B
}

.colored-footer {
    background-color: #4D5C57;

}

.second-section {
    background-color: #DBD79B;
    padding-bottom: 3%;
}

/* Navbar */
.nav-link {
    font-size: 1.25rem;
}

#mainNav {
    background-color: #DBD79B;
    color: #4D5C57;
}

.nav-container {
    padding-right: 0%;
    padding-left: 0%;
}

.nav-link {
    color: #4D5C57;
}

.nav-section {
    background-color: #DBD79B;
}

.navbar-brand {
    color: #4D5C57;
    padding-left: 1%;
}

/* content */

.card-text {
    font-size: 1.2rem;
}

.space-between-posts {
    padding: 0.5%;
    background-color: #DBD79B;
}

.btn {
    background-color: #4D5C57;
}

.footer-container {
    padding-top: 1%;
}