  <!-- Footer -->
  <footer>
    <div class="container footer-container">
      <div class=row>
          <div class="col-6">
              <a class="d-inline-flex footer-header text-muted"> 
                  <span>
                      Cities of the Pluriverse
                  </span>
              </a>
              <ul class="list-unstyled small text-muted"> 
                  <li class="mb-2">
                  The internet is more than just a network for bare communitcation. The internet is also replacing and reinnovating markets. For more informations on ideas on 
              how an online shop for a city, beyond ebay-kleinzeigen, could look like read the blog </li>
          </ul>
          </div> 
          <div class="col-2">
            <p class="footer-header text-muted">find_me</p>
            <ul class="list-unstyled">
                <li> <a class="footer-li" hreft="#"> TwitterIcon </a></li>
                <li> <a class="footer-li" hreft="#"> GitHubIcon </a> </li>
            </ul>
            </div>
        <div class="col-3">
          <p class="copyright text-muted">Copyright &copy; tech&polsci 2022</p>
        </div>
      </div>
    </div>
  </footer>