{% include "header.html" %}

<section class="section">
<section class="second-section col-lg-10 mx-auto">
  <div class="container general"> 

      <div class="space-between-cards">

      <div class="container-fluid py-5">
        <h1 class="display-5">Title of the BlogPost</h1>
        <p class="col-md-8 fs-6"> { tags: [pluriverse, hamburg, migrant_communities] } </p>
        <hr class="my-4">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.   
        <p class="lead"></p>
      </div>
    
      <div class="container-fluid py-5">
        <h1 class="display-5">Title of the BlogPost</h1>
        <p class="col-md-8 fs-6"> { tags: [pluriverse, hamburg, migrant_communities] } </p>
        <hr class="my-4">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.   
        <p class="lead"></p>
      </div>  
      
    </div>
</div>

</div>
</section>
</section>

{% include "footer.html" %}