{% include "header.html" %}

<section class="section">
<section class="second-section col-lg-10 mx-auto">
  <div class="container general"> 
      <div class="card">
        <div class="card-header">
          tags
        </div>
        <div class="card-body">
          <h3 class="card-title">Title</h3>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="space-between-cards">

      </div>
      <div class="card">

        <div class="card-header">
          tags
        </div>
        <div class="card-body">
          <h3 class="card-title">Title</h3>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="space-between-cards">

      </div>
      <div class="card">
        <div class="card-header">
          tags
        </div>
        <div class="card-body">
          <h3 class="card-title">Title</h3>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
</div>

</div>
</section>
</section>

{% include "footer.html" %}